
.banner {
	color: rgba(255,0,255,1);
	background: purple;
	background: linear-gradient(bottom, rgba(0,0,0,1), rgba(200,0,200,.3));
	background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(200,0,200,.3));
	background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(200,0,200,.3));
	height: 250px;
	position: absolute;
	width: 100%;
	z-index: 0;
	top: 7%;
	margin-top: -100px;
	left: 0;
	right: 0;

}
h1 {
	font-family: 'Francois One', sans-serif;
	color: white;
	font-size: 40px;
	text-align: left;
	z-index: 1;
	padding-left: 2px;
}
.topright {
	text-align: right;
	margin-top: -100px;
	font-style: italic;
	color: white;
	padding-bottom: 10px;
}
.center {
	position: relative;
	text-align: center;
	margin-top: 50px;
	border-radius: 20px;
	color: #CCCCCC;
}
p {
	text-align: center;
	font-size: 18px;
	font-family: 'Francois One', sans-serif;
	color: #CCCCCC;
}
.gallery-wrapper {
	width: 570px;
	height: 405px;
	margin: 50px auto 0 auto;
	border: 3px solid #fff;
	position: relative;
	overflow: hidden;

}
.gallery-mask {
	width: 570px;
	height: 465px;
	overflow: hidden;
}
.gallery-ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 465px;
	width: 570px;
}
.gallery-li {
	float: left;
	height: 465px;
	width: 570px;
}
.leftbtn {
	width: 75px;
	height: 465px;
	position: absolute;
	top: 0px;
	left: 0px;
	background: #666;
	opacity: 0.4;
	display: none;
}
.rightbtn {
	width: 75px;
	height: 465px;
	position: absolute;
	top: 0px;
	right: 0px;
	background: #666;
	opacity: 0.4;
	display: none;
}

.gallery-wrapper: hover .rightbtn,
.gallery-wrapper: hover .leftbtn
{
	display: block;
}
.leftbtn: hover,
.rightbtn: hover {
	opacity: 0.8;
}
.rightbtn-inner {
		width: 0; 
	height: 0; 
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	
	border-left: 60px solid white;

	margin: 150px auto 0 auto;
}
.leftbtn-inner {
	width: 0; 
	height: 0; 
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent; 
	border-right:60px solid white; 
	margin: 150px auto 0 auto;
}
.leftbtn-inner: hover {
	background-position: -35px 0;
}
.rightbtn-inner: hover {
	background-position: 0px 0;
}
.box {
	border:5px solid #CCC;
	background-color:rgba(0,0,20,.5);
	border-radius:10px;
	padding:10px;
	width: 960px;
	margin: 0 auto;
}
.bottomleft {
	text-align: left;
	font-style: italic;
	color: white;
	z-index: 1;
	padding-top: 10px;
}
.bottombanner {
	color: rgba(255,0,255,1);
	background: purple;
	background: linear-gradient(bottom, rgba(200,0,200,.3), rgba(0,0,0,1));
	background: -webkit-linear-gradient(bottom, rgba(200,0,200,.3), rgba(0,0,0,1));
	background: -moz-linear-gradient(bottom, rgba(200,0,200,.3), rgba(0,0,0,1));
	height: 250px;
	width: 100%;

}

body { 
background-color: #fff; 
background-image: url('http://i.imgur.com/OoCslzC.jpg'); 
background-repeat: repeat-y;
background-size: cover;
z-index: -1;
} 
